APP_PORT=8000
APP_NAME=维斯量化交易平台
API_PREFIX=/api
CORS_ORIGINS=["http://localhost:8000","http://127.0.0.1:8000","http://localhost:18080","http://127.0.0.1:18080","http://localhost:18090","http://127.0.0.1:18090"]
DEFAULT_DATA_SOURCE=akshare_eastmoney
HTTP_TIMEOUT=12

MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=t_quant
MYSQL_USER=tquant_app
MYSQL_PASSWORD=change_me_app
